

	<p id="notice"><%= notice %></p>

	<h1>Photo Gallery </h1>
	      
	
    <div id="box">
	         <% form_tag photos_path, :method => 'get' do %>
				<p>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search", :name => nil %>
			  </p>
			<% end %>	
        <ul>  
				<% @photos.each do |photo| %>
					<li><h3 class="image_title"><%= photo.name %></h3>
						<%= link_to   photo do%>
							<%= image_tag photo.image.url :thumb,  class: "thumbnail" %></a>	
						<% end %>	
					</li>
				 <% end %>	
			 
		</ul>
	</div>	
