<h2 class="m-5 pt-5">Add New Photo</h2>
 <div id="container" class="container m-5 form">
	<h2>Name:   <%= @photo.name %> </h2>
	<p id="notice"><%= notice %></p>
     <h3 class="mb-0">Description:</strong>
	  <%= @photo.description %>
	</p>
	
	<p>
	  <strong>Location:</strong>
	  <%= @photo.image.url %>
	</p>
	<p>
	  <strong>Created by:</strong>
	  <%= @photo.user_id %>
	</p>
    <p>
	 <%= image_tag @photo.image.url, class:"col-sm-12 col-md-6 offset-md-2" %>
	</p>
	

	
	<h5><%= link_to 'Edit', edit_photo_path(@photo) %> |
	<%= link_to 'Back', photos_path %></h5>
 </div>
 </div>