 
 
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h4><%= link_to '<i class="fa fa-home a-5x" aria-hidden="true"></i> Rosevear'.html_safe , photos_path, class:"text-white" %></a></h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            
			 <li class="nav-item active"> 
			    <%= link_to '<i class="fa fa-camera-retro" aria-hidden="true"></i> New Photo'.html_safe , new_photo_path, class:"btn p-right btn-success ml-md-5" %> 
			   </a>
            </li>
          </ul>
		  <%= form_tag(photos_path, :method => "get", class:"form-inline mt-2 mt-md-0", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], class:'form-control mr-sm-2', placeholder: 'Search' %>
			<%= submit_tag 'Search', :name => nil , class: "btn btn-outline-success"  do %>
				<i class="fa fa-search-plus" aria-hidden="true"></i> 
				<% end %>
		    <% end %>
        </div>
      </nav>